<!-- header -->
		<header class="header-dark">
		  <div class="container">
		    <nav class="navbar navbar-expand-lg navbar-dark">
		      <a class="navbar-brand" href="../../index.html">
		        <div class="font-weight-bold grey__dark">SnowTricks</div>
		      </a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

		      <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav align-items-center mr-auto">
		          <li class="nav-item">
		            <a class="nav-link font-weight-bold grey__dark" href="{{ path('home') }}" role="button">
		              Accueil
		            </a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link font-weight-bold grey__dark"  href="{{ path('allTricks') }}" role="button">
		              Tricks
		            </a>
		          </li>
		        </ul>

		        <ul class="navbar-nav align-items-center mr-0">
		          <li class="nav-item ">
		            <a class="nav-link font-weight-bold grey__dark" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		              Connexion
		            </a>
		          </li>
		        </ul>
		      </div>
		    </nav>
		  </div>
		</header>
		<!-- header -->
