        <!-- cover -->
		<section class="p-0 m-1" data-aos="zoom-in">
			<div class="container-full">
				<div class="swiper-container boxed text-white">
					<div class="swiper-wrapper">
						<div class="swiper-slide vh-80">
							<div class="image image-overlay" style="background-image:url(images/slider/293266.jpg)"></div>
							<div class="caption">
								<div class="container">
									<div class="row justify-content-between vh-75">
										<div class="col-md-10 align-self-end">
											<h1 class="display-2 text-shadow" data-swiper-parallax="-100%">SnowTricks<br><b id="typed"></b></h1>
											<div id="typed-strings">
											    <p>Bienvenue.</p>
											    <p>Consulter nos super tricks.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide vh-75">
							<div class="image" style="background-image:url(images/slider/1368764101_8623.jpg)"></div>
							<div class="caption" data-swiper-parallax="-100%">
								<div class="container">
									<div class="row vh-75">
										<div class="col align-self-end">
											<h1 class="text-shadow"></h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide vh-75">
							<div class="image" style="background-image:url(images/slider/thumb-1920-183974.jpg)"></div>
							<div class="caption" data-swiper-parallax="-100%">
								<div class="container">
									<div class="row vh-75">
										<div class="col align-self-end">
											<h1 class="text-shadow"></h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<!-- / cover -->
        <div class="arrow-down"><i class="fas fa-arrow-circle-down down btn"></i></div>
