{% extends 'base.html.twig' %}

{% block body %}
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="images/slider/293266.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="images/slider/1368764101_8623.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="images/slider/thumb-1920-183974.jpg" alt="Third slide">
                </div>
            </div>
        </div>
	    <div class="main">
            <div class="content-top">
                <ul id="flexiselDemo3">
                    <li><img src="images/board1.jpg" /></li>
                    <li><img src="images/board2.jpg" /></li>
                    <li><img src="images/board3.jpg" /></li>
                    <li><img src="images/board4.jpg" /></li>
                    <li><img src="images/board5.jpg" /></li>
                </ul>
            </div>
	    </div>
	
    {% for trick in tricks %}

        {{ trick.id }}
        {{ trick.name }}
        {{ trick.description }}
{#          <iframe width="420" height="315"
            src={{ trick.videoLink }}>
        </iframe>  #}
<br>
    {% endfor %}
{% endblock %}