body 
{
	background: #f1f1f1 !important;
}
.grey__dark
{
	color : #2c2d31 !important;
}
.image-one-tick
{
	max-height: 500px;
}
.icons-tricks
{
	padding: 10px;
	z-index: 99;
	text-align: right;
}

.pencil-edit-trick
{
	font-size: 25px;
	color: #23c40c;
}
.trash-trick
{
	font-size: 25px;
	color: #ff4343;
}