body 
{
	background: #f1f1f1 !important;
}
.grey__dark
{
	color : #2c2d31 !important;
}
.image-one-tick
{
	max-height: 500px;
}
.icons-tricks
{
	padding: 10px;
	z-index: 99;
	text-align: right;
	height: 50px;
}

.pencil-edit-trick
{
	font-size: 25px;
	color: #23c40c;
}
.trash-trick
{
	font-size: 25px;
	color: #ff4343;
}
.arrow-down
{
	/* position: absolute;
	z-index: 999; */
	text-align: right;
	/* width: -moz-available; */
}
.arrow-down i
{
	color: grey;
	font-size: 40px;
}
.btn-rounded > .custom-file
{
	display: none!important;
}
.btn-add-trick-and-btn-scroll-to-down
{
	display: grid;
	grid-template-columns: 95% 1fr;
}
.div-for-btn-add-trick
{
	text-align: center;
}
.avatar-in-comment
{
	width:45px;
}
.content-comment
{
	display: grid;
	grid-template-columns: 50px 72% 1fr;
	margin: 10px;
}
.btn-update-password
{
	margin-bottom: 50px;
}
.container-comment 
{
	margin-top: 60px;
}
.global-div-validate-account {
	margin-top: 300px;
    width: 100%;
    height: 100%;
    display:flex ;
    justify-content:center;
    align-items:center;
}
.validate-account-class 
{
    border : 3px solid #00aa1b;
    height:5em;
    width:30em;
    display:grid ;
    justify-content:center;
    align-items:center;
}
.validate-account-class div 
{
    color :#00aa1b ;
    font-size : 25px;
}
.validate-account-class span 
{
    font-size : 12px;
}
.container-create-edit
{
	margin-top: 50px;
}