
{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
  {% if tokenOnOff == 0 %}
    <div class="viewport">
      <div class="image image-overlay" style="background-image:url(../images/slider/293266.jpg)"></div>
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-6 col-lg-5">
            <div class="accordion-group accordion-group-portal" data-accordion-group>
              <div class="accordion open" data-accordion>
                <div class="accordion open" data-accordion>
                {{ form_start(form) }}
                <div class="form-group">
                  <label for="exampleFormControlInput2">Nouveau mot de passe</label>
                {{ form_widget(form.password) }}
                </div>
                <button class="btn btn-primary btn-block">Sauvegarder</button>
                {{ form_end(form) }}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}

    <div class="global-div-validate-account">
        <div class="validate-account-class" style="border: 3px solid red">
            <div style="color:red">   Votre lien a expiré </div>
            <span>Dans quelques secondes vous allez être rediriger vers la page connexion </span>
        <div>
    <div>
    <script>
        window.setTimeout( function(){
            window.location = "/login";
        }, 3000 );  
    </script>

  {% endif %}

{% endblock %}
